* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
    }


body {
    font-family: 'Roboto';
    background-color: rgba(255, 255, 255);
    max-width: 1440px;
}

ul {list-style: none;}

a {
    text-decoration: none;
}

button{
    font-family: inherit;
    cursor: pointer;
    border: unset;
    outline: none;}

header {background-color:  var(--white);
    border-bottom: 1px solid var(--cornflower,);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 10%;
    font-family: 'Raleway';
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
}

.web {
    color: var(--navyblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
}

.web-span {
    color: var(--iris);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    gap: 40px;
}

.nav-list li {
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.nav-list li a {
    background-color: rgba(255, 255, 255, 1);
    color: var(--black);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-list a:hover{ color: var(--ocean);}

.address {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-left: auto;
}

.address a {
    background-color: rgba(255, 255, 255, 1);
    color: var(--black);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address a:hover {
    color: var(--ocean);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 600px;
    width: 1440px;
    background-color: var(--navyblue);
}

.hero-title {
    background-color: var(--navybluemodal);
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.44p x;
    line-height: 65px;
    text-align: center;
}

.hero-button {
    background: var(--iris);
    color:white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 32px;
    text-transform: capitalize;
}


.hero-button:active {
    background-color: var(--ocean);
    transform: scale(0.98);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
}

.about-list {
    display: flex;
    gap: 24px;
    padding: 0;
}

.about-list-item {
    width: 25%;
    list-style: none;
}

.about-list li h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.about-list-item p {
    color: black;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 10%;
    width: 100%;
}

.services-title {
    color: black;
    line-height: 48px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.services-list {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;
}

.services-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.services-list img:hover {
    transform: scale(1.1);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 10%;
    background-color: var(--cornflower);
    width: 100%;
}

.team-title {
    color: black;
    line-height: 48px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;
}

.team-list li {
    list-style: none;
    text-align: center;
    background-color: var(--lightblue);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.team-list li img {
    width: 100%;
    object-fit: cover;
}

.team-list li:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.16);
    transform: scale(1.1);
}

.team-list li h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.team-list-item p {
    color: black;
    letter-spacing: 0.32px;
    line-height: 1.5;
}


.portfolio-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 10%;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    margin-bottom: 80px;
}



.button {
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background-color: var(--cloud);
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.portfolio-list li .button:hover {
    background: var(--ocean);
    color: var(--white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),0px 2px 1px 0px rgba(0, 0, 0, 0.08),0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border-color: var(--ocean);

}


.portfolio-list-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    margin-bottom: 80px;
}

.portfolio-list-img-item {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc(33.333% - 40px);
    background-color: var(--white);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}



.portfolio-list-img-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.16);
    transform: scale(1.02);
}

.portfolio-list-img-items img {
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--cornflower);
}

.portfolio-list-img-item img {
    width: 360px;
        height: 300px;
        flex-shrink: 0;
}



.portfolio-list-img-item h3 {
    color: var(--navyblue,);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}


.portfolio-list-img-item p {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-list-img-div{
display: flex;
padding: 0px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--navyblue);
    color: white;
    padding: 0 10%;
    height: 100px;
}



.footer-web {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
    font-family: 'Raleway';
}

.footer-span {
    color: var(--iris);
}

.footer p {
    color: white;
    width: 264px;
    line-height: 24px;
    letter-spacing: 0.32px;
}


